<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">ngx-deep-equals-pure</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
    </ul>
  </div>
</nav>

<div class="div-content">
  <eq-pure-simple-deep-equal-benchmark>

  </eq-pure-simple-deep-equal-benchmark>
</div>

<div class="div-content">
  <app-standalone-test>
    
  </app-standalone-test>
</div>